body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
/* }

nav a {
    position: relative;
    color: red;
    text-decoration: none;
    margin: 0 12px;
    padding: 0 12px;
  }
  
  nav {
    position: relative;
    display: flex;
  }
  
  #barre {
    position: absolute;
    left: 0;
    height: 4vh;
    width: 0;
    background: green;
    bottom: -10px;
    border-radius: 5px;
    transition: 0.5s;
  } */

}

button a {
    position: relative;
    text-decoration: none;
    margin: 0 12px;
    padding: 0 12px;
    text-align: center;
  }
  
  button {
    position: relative;
    display: flex;
    align-items: center;
    background: white;
    height: 4vh;
    overflow: hidden;
  }
  
  #barre {
    position: absolute;
    left: 0;
    height: 5vh;
    width: 0;
    background: red;
    bottom: -5px;
    border-radius: 5px;
    transition: 0.5s;
  }